<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tetris</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.cdnfonts.com/css/press-start-2p" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/end.css" />
</head>

<body>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>